body {
    background: #3A1C71;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(90deg, #FFAF7B, #D76D77, #3A1C71);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #FFAF7B, #D76D77, #3A1C71);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #FDFDFE;
    font-size: 40px;
    font-family: 'Source Code Pro'
}

.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

} 


.buttons {
    width: 20px;
    height: auto;
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/* .gameArea{
    display: none;
} */




td{
    width: 70px;
    height: 70px;
    padding: 2px;
    background-color: #ffffff49;
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.newUser{
    background-color: #2f0b71;
}

.newUser button{
    width: 150px;
    height: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.newUser button:hover{
    cursor: pointer;
}


#msg, #btnReplay{
    text-align: center;
    font-size: 30px;
}

#btnReplay{
    margin-top: 20px;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

#btnReplay button{
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}




@media only screen and (max-width: 600px) {
    td {
      width: 100px;
      height: 100px;
    }
  }

td:hover{
    background-color: #ffffff6a;
}
td:active{
    background-color: #ffffff69;
}