<!DOCTYPE html>
<html>

<head>
    <title>TicTacToeIO</title>
    <meta name="viewport" content="width=500" />
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>TicTacToeIO</h1>
        <table align="center" id="userArea">
            <tr class="newUser">
                <td><button id="btnCreate">Create Game</button></td>
                <td><button id="btnJoin">Join Game</button></td>
            </tr>
        </table>
        <table class="gameArea" id="gameArea" align="center">
            <tr>
                <td id="00"></td>
                <td id="01"></td>
                <td id="02"></td>
            </tr>
            <tr>
                <td id="10"></td>
                <td id="11"></td>
                <td id="12"></td>
            </tr>
            <tr>
                <td id="20"></td>
                <td id="21"></td>
                <td id="22"></td>
            </tr>
        </table>
        <p id="msg">Create or Join a game...</p>
        <p id="btnReplay"><button>Replay</button></p>
    </div>
    
    <script src="static/script.js"></script>
</body>

</html>